<div id="middle">
  <hr/>
  <h1>Interaction via @Input and @Output</h1>
    <br/>
    <form #myform="ngForm" (ngSubmit)="onClickSubmit(myform.value)">
      <input type="text" name="id" [(ngModel)]="selectedPerson.id">
      <br/>
      <input type="text" name="name" [(ngModel)]="selectedPerson.name">
      <br/>
      <input type="text" name="surname" [(ngModel)]="selectedPerson.surname">
      <br/>
      <input type = "submit" value = "submit">
    </form>
    <br/>

  <hr/>
  <h1>Interaction via service</h1>
  <br/>
  <form #serviceform="ngForm" (ngSubmit)="onClickSubmit(serviceform.value)">
    <input type="text" name="id" [(ngModel)]="selectedServicePerson.id">
    <br/>
    <input type="text" name="name" [(ngModel)]="selectedServicePerson.name">
    <br/>
    <input type="text" name="surname" [(ngModel)]="selectedServicePerson.surname">
    <br/>
    <input type = "submit" value = "submit">
  </form>
  <hr/>
  <h3>Pipe Samples</h3>
  {{myText | uppercase}}
  <br/>
  {{myText | lowercase}}
  <br/>
  {{myText | titlecase}}
  <br/>
  {{myText | slice:6:11}}
  <br/>
  {{selectedPerson | json}}
  <br/>
  {{myNumber | number:'5.2-3'}}
  <br/>
  {{myPercent | percent}}
  <br/>
  {{myMoney | currency:'EUR':'code'}}
  <br/>
  {{myDate | date:'dd/MM/yyyy HH:mm:ss'}}
  <br/>
  {{myDate | date}}




</div>
