<div id="middle">
  <hr/>
    <span> Form, Event Binding sample</span>
    <br/>
    <form #myform="ngForm" (ngSubmit)="onClickSubmit(myform.value)">
      <input type="text" name="id" ngModel>
      <br/>
      <input type="text" name="name" ngModel>
      <br/>
      <input type="text" name="surname" ngModel>
      <br/>
      <input type = "submit" value = "submit">
    </form>
    <br/>
  <hr/>
    <span> *ngIf and *ngFor sample</span>
    <br/>
    <input type = "button" [(ngModel)] = "buttonText" (click) = "gizleClick()">
    <br/>
    <ul *ngIf = "gizleGoster">
      <li *ngFor="let p of personList">
        {{p.name + '  ' +p.surname}}
        <input type = "button"  value = "Sil" (click) = "kaydiSil(p.id)">
      </li>
    </ul>
    <br/>
  <hr/>
    <span> Property binding sample</span>
    <br/>
    <input type = "text" name = "id"  [value]="myText">
    <br/>
    {{myText}}
    <br/>
  <hr/>
    <span> Two way binding sample</span>
    <br/>
    <input type = "text" name = "id" [(ngModel)]="myTwoWayBindedText">
    <br/>
    {{myTwoWayBindedText}}
  <hr/>
</div>
